.btn{
    background-color: #2563EB;
    color: white
}
.btn:hover{
    background-color: #1D4ED8;
}
.btn:active{
    background-color: #1E40AF;
}
.btn:focus{
    background-color: #1E3A8A;
}

#hero{
    background-color: #EFF5FF;
    height: 450px;
    padding: 2rem;
    margin-bottom: 150px;
    max-width: 1800px;
    margin-left:auto;
    margin-right:auto;
    
    div{
        width: 50%;

    }
    #hero-image{
        margin-top: -5rem;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 600px;
        max-height: 100vh;
        background-color: #043250;
        overflow-x: visible;
        margin-left: 2rem;
    }
    #hero-button{
        width:100px;
        margin: 0 0;
    }
    .btn-primary{
        background-color: #2563EB;
        color: white;
        border: none;
        height: 45px;
        padding: 0 1rem;
        border-radius: 5px;
        border: 1px solid #2563EB;

    }
    .btn-primary:hover{
        background-color: #c3d1f5;
        color: #2563EB;
        border: 1px solid #2563EB;
    }
    .btn-outline{
        background-color: transparent;
        color: #2563EB;
        border: 1px solid #2563EB;
        height: 45px;
        padding: 0 1rem;
        border-radius: 5px;
    }
    .btn-outline:hover{
        background-color: #2563EB;
        color: white;
    }
}
#category{
    padding: 2rem;
    h1{
        color: #2563EB;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    h2{
        color: #2563EB;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}   

#categoryBox{
    background-color: #F8FAFC;
    padding: 2rem;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1800px;
    margin: 0 auto;
}
#product-title{
    color: #2563EB;
    font-weight: 600;
    margin-bottom: 2rem;
}
#product{
    img{
        border-radius: 10px;
        object-fit: cover;
    }
    i{
        color: #2563EB;
    }
}

#stats{
    max-width: 1800px;
    margin: 0 auto;
}